apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: roboshop
spec:
  type: LoadBalancer
  selector:
    app: web
    tier: web
    project: roboshop
  ports:
    - name: web-port
      port: 80            # Service port
      targetPort: 80      # Pod port